# =========================
# GUI
# =========================

PySide6>=6.8

# =========================
# Documents
# =========================

python-docx

# =========================
# Audio
# =========================

numpy
scipy
soundfile
librosa
ffmpeg-python
pyloudnorm
webrtcvad-wheels

# =========================
# Speech
# =========================

faster-whisper
rapidfuzz

# =========================
# Utilities
# =========================

requests
psutil
pyyaml
tqdm
